<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NRack" type="NRack.Base.Configuration.NRackConfigSection, NRack.Base"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="NRackService"/>
  </appSettings>
  <NRack isolation="AppDomain">
    <servers>
      <server name="TestApp"
              type="TestAppServer">
      </server>
    </servers>
  </NRack>
</configuration>