<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NRack" type="NRack.Base.Configuration.NRackConfigSection, NRack.Base"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="NRackService"/>
    <add key="NRack.Test" value="Hello NRack"/>
  </appSettings>
  <NRack isolation="Process">
    <servers>
      <server name="TestApp"
              type="TestAppServer">
        <recycleTriggers>
          <trigger name="AssemblyUpdatedTrigger"></trigger>
        </recycleTriggers>
      </server>
    </servers>
  </NRack>
</configuration>