<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ndock" type="NDock.Base.Configuration.NDockConfigSection, NDock.Base"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="NDockService"/>
  </appSettings>
  <ndock>
    <servers>
      <server name="TestApp"
              serverTypeName="SampleServer">
      </server>
    </servers>
  </ndock>
</configuration>