<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ndock" type="NDock.Base.Configuration.NDockConfigSection, NDock.Base"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="NDockService"/>
  </appSettings>
  <ndock isolation="Process">
    <servers>
	  <server name="DataGenerator"
              appDir="e:\tasks\DataGenerator"
              appFile="DataGenerator.exe">
      </server>	
      <server name="DataFetcher"
              appDir="e:\tasks\DataFetcher"
              appFile="DataFetcher.exe">
      </server>
    </servers>
  </ndock>
</configuration>
