<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nrack" type="NRack.Base.Configuration.NRackConfigSection, NRack.Base"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="NRackService"/>
  </appSettings>
  <nrack isolation="Process">
    <servers>
	  <server name="DataGenerator"
              appDir="e:\tasks\DataGenerator"
              appFile="DataGenerator.exe">
      </server>	
      <server name="DataFetcher"
              appDir="e:\tasks\DataFetcher"
              appFile="DataFetcher.exe">
      </server>
    </servers>
  </nrack>
</configuration>
