<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nrack" type="NRack.Base.Configuration.NRackConfigSection, NRack.Base"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="NRackService"/>
  </appSettings>
  <nrack isolation="Process">
    <servers>      
      <server name="TestApp"
              type="TestAppServer">
      </server>
	  <server name="TestAppB"
              type="TestAppServerB">
      </server>
    </servers>
  </nrack>
</configuration>
